.card {
  background-color: #0C3B33;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin: 5px;

}

.card img {
  width: 95%;
  height: 95%;
  padding: 0%;
}

.card img.front {
  transition: ease-out 0.5s;
}

.front {
  transform: rotateY(360deg); 
}

.back {
  cursor: pointer;
}